<div class="taskbar__toolbar"></div>
<div class="taskbar__task-list" scroll-task-load>
    <div class="group-tasks" ng-repeat="item in vm.task.groups_tasks | orderBy:'value':true" ng-if="item.tasks.length">
        <div class="group-tasks__title">
            {{item.value | dateFormat}}
        </div>
        <div class="group-tasks__tasks">
            <div class="task" ng-repeat="task in item.tasks">
                <div class="task__close-btn">
                    <div ng-click="vm.compliteTask(task.Task.id)"></div>
                </div>
                <div class="task__title" ui-sref="home.task-viewing({id: task.Task.id})">
                    <p>{{task.Task.title}}</p>
                </div>
                <hr ng-if="item.tasks.length >= 2" />
            </div>
        </div>
    </div>
</div>
<div class="taskbar__no-task" ng-if="!vm.task.groups_tasks.length">
    <div class="content">
        <div class="icons8-todo-list"></div>
        <p>Have a good day</p>
    </div>
</div>
<div class="create-task" ui-sref="home.create-task">
    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="vm.project.addProject()">
        <p class="icons8-plus"></p>
    </md-button>
</div>