.container__sidebar{
  float:left;
  width: 308px;
  height: 100%;
  background: $color-dark-blue;
  color:      $color-white;

  .profile{
    width: 254px;
    height: 90px;
    margin:0 27px;
    box-sizing: border-box;
    @include flexbox();
    @include alignItems(center);

    &__logo{
      float:left;
      width: 54px;
      height: 54px;
      margin-left:7px;
      border-radius: 100px;
      border:2px solid rgb(255,255,255);
      @include flexbox();
      @include justifyContent(center);
      @include alignItems(center);

      img{
        width: 45px;
        height: 45px;
        border-radius: 100px;
      }
    }

    &__info{
      height: 54px;
      margin-left:18px;
      line-height: 54px;
      float:left;

      p{
        color:$color-white;
        font-family:SFUIText-Semibold;
        font-size:14px;
        margin:0 0 2px 0;
      }
    }
  }

  .projects{
    float:left;
    width: 254px;
    height: auto;
    margin:0 27px;

    &__title{
      float:left;
      width: 100%;
      height: 45px;
      padding: 0 12px;
      box-sizing: border-box;

      p{
        width: auto;
        line-height: 45px;
        margin:0 0 2px 0;
        font-size:11px;
        color:rgb(179,187,203);
        font-family: SFUIText-Semibold;
        text-transform: capitalize;

        &:first-of-type{
          float:left;
        }

        &:last-of-type{
          float:right;
          font-size: 20px;
          color:rgb(255,255,255);
          cursor:pointer;
        }
      }
    }

    &__project{
      float:left;
      width: 100%;
      height: 35px;
      padding: 0 12px;
      box-sizing: border-box;
      cursor:pointer;
      border-radius: 5px;

      &.active{
        background:rgb(107,107,153)!important;
      }

      &:hover{
        background:rgb(107,107,153);
      }

      p{
        color:rgb(255,255,255);
        font-family: SFUIText-Semibold;
        font-size: 14px;
        margin:0 0 0 2px;
        text-transform: capitalize;
        width: auto;
        line-height:35px;

        &:first-of-type{
          float:left;
        }

        &:last-of-type{
          float:right;
        }
      }
    }
  }
}