.container__taskbar{
  position: absolute;
  left:308px;
  right: 0;
  bottom: 0;
  top:0;
  background: rgb(247,247,247);
  overflow-x: hidden;
  overflow-y: auto;

  .taskbar__toolbar{
    float:left;
    width: 100%;
    height:45px;
  }

  .taskbar__task-list{
    float:left;
    padding:0 207px;
    width: 100%;
    height: 100%;

    .group-tasks{
      float:left;
      width:100%;
      height: auto;
    }
  }


  .create-task{
    position: absolute;
    width: 56px;
    height: 56px;
    bottom: 27px;
    right: 27px;

    p{
      font-size: 30px;
      margin:0;
    }

    button{
      background: rgb(107,107,153)!important;
    }
  }
}