.container__taskbar{
  position: absolute;
  left:308px;
  right: 0;
  bottom: 0;
  top:0;
  background: rgb(247,247,247);
  overflow-x: hidden;
  overflow-y: auto;

  .taskbar__toolbar{
    float:left;
    width: 100%;
    height:45px;
    position: absolute;
  }

  .taskbar__task-list{
    float:left;
    padding:45px 207px 0 207px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .group-tasks{
      float:left;
      width:100%;
      height: auto;
      margin-bottom: 8px;

      &__title{
        float:left;
        color:rgb(179,187,203);
        font-size: 14px;
        font-family: SFUIText-Semibold;
        margin:0 0 8px 0;
      }

      &__tasks{
        float:left;
        width: 100%;
        border-radius: 10px;
        border:1px solid rgb(239,239,239);
        box-shadow: 0 0 10px rgba(0,0,0,.16);

        .task{
          float:left;
          width: 100%;
          height: 55px;
          position: relative;
          cursor: pointer;

          &:last-child hr{
            opacity: 0!important;
          }

          hr{
            position: absolute;
            bottom:0;
            border:0;
            left:55px;
            right: 55px;
            height: 1px;
            background: rgb(240,240,240);
            margin:0;
          }

          &__close-btn{
            float:left;
            width: 77px;
            height: 100%;
            @include flexbox();
            @include alignContent(center);
            @include alignItems(center);
            @include justifyContent(center);

            div{
              width: 18px;
              height: 18px;
              border-radius: 50px;
              border:3px solid rgb(189,189,189);

              &:hover{
                background: rgb(189,189,189);
              }
            }
          }

          &__title{
            float:left;
            width: auto;
            height: 100%;
            margin-left:15px;

            p{
              color:rgb(33,33,33);
              font-size: 14px;
              font-family: SFUIText-Semibold;
              line-height: 57px;
              margin: 0;
            }
          }
        }
      }
    }
  }


  .create-task{
    position: absolute;
    width: 56px;
    height: 56px;
    bottom: 27px;
    right: 27px;

    p{
      font-size: 30px;
      margin:0;
    }

    button{
      background: rgb(107,107,153)!important;
    }
  }
}