@font-face {
  font-family: SFUIText-Medium;
  src:  url(./SFUIText-Medium.eot?) format('eot'),
        url(./SFUIText-Medium.otf) format('otf'),
        url(./SFUIText-Medium.ttf) format('ttf'),
        url(./SFUIText-Medium.woff) format('woff'),
        url(./SFUIText-Medium.svg#SFUIText-Medium) format('svg');
}

@font-face {
  font-family: SFUIText-Regular;
  src:  url(./SFUIText-Regular.eot?) format('eot'),
        url(./SFUIText-Regular.otf) format('otf'),
        url(./SFUIText-Regular.ttf) format('ttf'),
        url(./SFUIText-Regular.woff) format('woff'),
        url(./SFUIText-Regular.svg#SFUIText-Regular) format('svg')
}

@font-face {
  font-family: SFUIText-Semibold;
  src:  url(./SFUIText-Semibold.eot?) format('eot'),
        url(./SFUIText-Semibold.otf) format('otf'),
        url(./SFUIText-Semibold.ttf) format('ttf'),
        url(./SFUIText-Semibold.woff) format('woff'),
        url(./SFUIText-Semibold.svg#SFUIText-Semibold) format('svg');
}