<div class="taskbar__toolbar"></div>
<div class="taskbar__task-list">
    <div class="group-tasks" ng-repeat="item in vm.task.groups_tasks | orderBy:'value':true">
        <div class="group-tasks__title">
            {{item.value | dateFormat}}
        </div>
        <div class="group-tasks__tasks">
            <div class="task" ng-repeat="task in item.tasks">
                {{task.Task.title}}
            </div>
        </div>
    </div>
</div>
<div class="create-task" ui-sref="home.create-task">
    <md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click="vm.project.addProject()">
        <p class="icons8-plus"></p>
    </md-button>
</div>